@model IEnumerable<MVCApp.Models.Assessment>

@{
    ViewBag.Title = "GetAssessments";
}


<h2>GetAssessments</h2>
<script src="~/Scripts/Assessment.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hiredate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IAgree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hiredate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IAgree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id }) |
            @Html.ActionLink("Details", "GetAssessments", new { /* id=item.PrimaryKey */ }, new { onclick = "javascript:GetAssessment();" })
            @Html.ActionLink("Delete", "GetAssessments", new { },new { onclick="javascript:DeleteAssessment();"})
        </td>
    </tr>
}

</table>
